In [1]:
# Dependencies
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

#Read in weather data CSV file and drop unnecessary columns
wildlife_df = pd.read_csv("Resources/WildlifeFinal.csv")
wildlife_df = wildlife_df.drop("Unnamed: 0.2", axis='columns')
wildlife_df = wildlife_df.drop("Unnamed: 0.1", axis='columns')
wildlife_df = wildlife_df.drop("Unnamed: 0", axis='columns')
# formatting date 
#pd.to_datetime(wildlife_df["Date"])
wildlife_df['Date'] = pd.to_datetime(wildlife_df['Date'])
wildlife_df.head() 
#view data type of each column in DataFrame
#print(wildlife_df.dtypes)

,Date,Weathercode,Max Temperature,Min Temperature,Mean Temperature,Sunrise,Sunset,Total Precipitation,Total Rain,Total Snow,Description
0,2018-05-06,2,69.9,40.4,56.0,06:19:00,20:27:00,0.000,0.000,0.0,Partly Cloudy
1,2018-05-07,2,66.1,42.9,55.5,06:17:00,20:29:00,0.000,0.000,0.0,Partly Cloudy
2,2018-05-08,0,65.4,40.6,53.8,06:16:00,20:30:00,0.000,0.000,0.0,Sunny
3,2018-05-09,53,69.7,43.1,56.5,06:15:00,20:31:00,0.055,0.055,0.0,Drizzle
4,2018-05-10,61,60.5,43.3,53.4,06:14:00,20:32:00,0.083,0.083,0.0,Light Rain

In [2]:
#Read wildlife data csv file
dataset_df = pd.read_csv("Resources/Full-Dataset-(2018-2020).csv")
dataset_df = dataset_df.rename(columns={'Photo.Date': 'Date'})
dataset_df['Date'] = pd.to_datetime(dataset_df['Date'])
dataset_df.head()
#print(dataset_df.dtypes)

,General.Project,Contact.Person.s.Last.Name,Station,Wild.Urban,Country,Timezone,Longitude,Latitude,General.Sampling.Period.Name,Date,...,Species,Common.Name,Species.Diet,Number.of.Animals,Camera.Make,Camera.Model,Flash..Yes.or.No.,Bait.Used,Photos.per.trigger,Description
0,Wasatch Wildlife Watch (UWIN Salt Lake City/Lo...,Green,d47256,Wild,USA,America/Denver,-111.70713,40.80159,Wasatch Mountains (May - October 2018),2018-05-06,...,Sapiens,Human non-staff,Omnivore,1,Bushnell,Agressor,No,None,3,NaN
1,Wasatch Wildlife Watch (UWIN Salt Lake City/Lo...,Green,d47256,Wild,USA,America/Denver,-111.70713,40.80159,Wasatch Mountains (May - October 2018),2018-05-06,...,Sapiens,Human non-staff,Omnivore,2,Bushnell,Agressor,No,None,3,NaN
2,Wasatch Wildlife Watch (UWIN Salt Lake City/Lo...,Green,d47256,Wild,USA,America/Denver,-111.70713,40.80159,Wasatch Mountains (May - October 2018),2018-05-06,...,Sapiens,Human non-staff,Omnivore,2,Bushnell,Agressor,No,None,3,NaN
3,Wasatch Wildlife Watch (UWIN Salt Lake City/Lo...,Green,d47256,Wild,USA,America/Denver,-111.70713,40.80159,Wasatch Mountains (May - October 2018),2018-05-06,...,Lupus Familiaris,Domestic Dog,Carnivore,1,Bushnell,Agressor,No,None,3,NaN
4,Wasatch Wildlife Watch (UWIN Salt Lake City/Lo...,Green,d47256,Wild,USA,America/Denver,-111.70713,40.80159,Wasatch Mountains (May - October 2018),2018-05-06,...,Sapiens,Human non-staff,Omnivore,2,Bushnell,Agressor,No,None,3,NaN

In [3]:
#Merge DataFrames: Left Join
wildlife_dfm = pd.merge(wildlife_df, dataset_df, on="Date", how="left")
wildlife_dfm.head()

,Date,Weathercode,Max Temperature,Min Temperature,Mean Temperature,Sunrise,Sunset,Total Precipitation,Total Rain,Total Snow,...,Species,Common.Name,Species.Diet,Number.of.Animals,Camera.Make,Camera.Model,Flash..Yes.or.No.,Bait.Used,Photos.per.trigger,Description_y
0,2018-05-06,2,69.9,40.4,56.0,06:19:00,20:27:00,0.0,0.0,0.0,...,Sapiens,Human non-staff,Omnivore,1,Bushnell,Agressor,No,None,3,NaN
1,2018-05-06,2,69.9,40.4,56.0,06:19:00,20:27:00,0.0,0.0,0.0,...,Sapiens,Human non-staff,Omnivore,2,Bushnell,Agressor,No,None,3,NaN
2,2018-05-06,2,69.9,40.4,56.0,06:19:00,20:27:00,0.0,0.0,0.0,...,Sapiens,Human non-staff,Omnivore,2,Bushnell,Agressor,No,None,3,NaN
3,2018-05-06,2,69.9,40.4,56.0,06:19:00,20:27:00,0.0,0.0,0.0,...,Lupus Familiaris,Domestic Dog,Carnivore,1,Bushnell,Agressor,No,None,3,NaN
4,2018-05-06,2,69.9,40.4,56.0,06:19:00,20:27:00,0.0,0.0,0.0,...,Sapiens,Human non-staff,Omnivore,2,Bushnell,Agressor,No,None,3,NaN

In [4]:
#exported wildlife_dfm to csv to share with the whole group
#wildlife_dfm.to_csv("Resources/wildlife_dfm.csv")
#to view animal and number of sightings
animal_count = wildlife_dfm["Common.Name"].value_counts()
animal_count

Human non-staff             45893
Mule Deer                   11886
Domestic Dog                 8617
Bicycle                      6121
Northern Raccoon             5300
Red Fox                      4014
Domestic Cat                 1622
Domestic Horse               1048
Striped Skunk                 835
Moose                         699
American Red Squirrel         673
Rock Squirrel                 623
Coyote                        562
Elk aka Red Deer              431
Eastern Fox Squirrel          283
Mountain Cottontail           266
Puma                          161
Uinta Ground Squirrel         136
American Beaver               131
Bobcat                        130
Domestic Cow                  119
White-tailed Jackrabbit        96
North American Porcupine       78
Northern Flying Squirrel       74
Muskrat                        53
American Badger                28
Yellow-bellied Marmot          22
Snowshoe Hare                  21
American Black Bear            15
Western Spotted Skunk           2
Name: Common.Name, dtype: int64

In [5]:
# Specify the column name and the list of desired values you want to filter on
column_name = 'Common.Name'
desired_values = ['Human non-staff', 'Bicycle', 'Mule Deer', 'Northern Raccoon', 'Red Fox', 'Striped Skunk',  'Moose', 'Coyote', 'Elk aka Red Deer', 'Puma', 'American Beaver', 'Bobcat']

# Create a new DataFrame by filtering the rows based on the desired values using isin method
human_wildlife_df = wildlife_dfm[wildlife_dfm[column_name].isin(desired_values)].copy()

# If you want to reset the index of the new DataFrame
human_wildlife_df.reset_index(drop=True, inplace=True)
human_wildlife_df

#Get only 2018 data
# Specify the column name that contains the dates
date_column = 'Date'

# Convert the column to pandas datetime if it's not already in datetime format
human_wildlife_df['Date'] = pd.to_datetime(human_wildlife_df['Date'])

# Create a new DataFrame by filtering the rows based on the year 2018
human_wildlife_2018 = human_wildlife_df[human_wildlife_df['Date'].dt.year == 2018].copy()

# If you want to reset the index of the new DataFrame
human_wildlife_2018.reset_index(drop=True, inplace=True)
human_wildlife_2018

#Get only 2019 data
# Specify the column name that contains the dates
date_column = 'Date'

# Convert the column to pandas datetime if it's not already in datetime format
human_wildlife_df['Date'] = pd.to_datetime(human_wildlife_df['Date'])

# Create a new DataFrame by filtering the rows based on the year 2019
human_wildlife_2019 = human_wildlife_df[human_wildlife_df['Date'].dt.year == 2019].copy()

# If you want to reset the index of the new DataFrame
human_wildlife_2019.reset_index(drop=True, inplace=True)
human_wildlife_2019

#Get only 2020 data
# Specify the column name that contains the dates
date_column = 'Date'

# Convert the column to pandas datetime if it's not already in datetime format
human_wildlife_df['Date'] = pd.to_datetime(human_wildlife_df['Date'])

# Create a new DataFrame by filtering the rows based on the year 2020
human_wildlife_2020 = human_wildlife_df[human_wildlife_df['Date'].dt.year == 2020].copy()

# If you want to reset the index of the new DataFrame
human_wildlife_2020.reset_index(drop=True, inplace=True)
human_wildlife_2020

,Date,Weathercode,Max Temperature,Min Temperature,Mean Temperature,Sunrise,Sunset,Total Precipitation,Total Rain,Total Snow,...,Species,Common.Name,Species.Diet,Number.of.Animals,Camera.Make,Camera.Model,Flash..Yes.or.No.,Bait.Used,Photos.per.trigger,Description_y
0,2020-04-29,1,64.8,29.6,45.2,06:27:00,20:21:00,0.000,0.000,0.000,...,Mephitis,Striped Skunk,Omnivore,1,Bushnell,Agressor,No,None,3,NaN
1,2020-04-29,1,64.8,29.6,45.2,06:27:00,20:21:00,0.000,0.000,0.000,...,Hemionus,Mule Deer,Herbivore,1,Bushnell,Agressor,No,None,3,NaN
2,2020-04-29,1,64.8,29.6,45.2,06:27:00,20:21:00,0.000,0.000,0.000,...,Hemionus,Mule Deer,Herbivore,1,Bushnell,Agressor,No,None,3,NaN
3,2020-04-29,1,64.8,29.6,45.2,06:27:00,20:21:00,0.000,0.000,0.000,...,Sapiens,Human non-staff,Omnivore,1,Bushnell,Agressor,No,None,3,NaN
4,2020-04-29,1,64.8,29.6,45.2,06:27:00,20:21:00,0.000,0.000,0.000,...,Sapiens,Human non-staff,Omnivore,1,Bushnell,Agressor,No,None,3,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16926,2020-11-07,73,55.0,34.2,46.0,08:05:00,18:15:00,0.446,0.355,0.662,...,Mephitis,Striped Skunk,Omnivore,1,Bushnell,Agressor,No,None,3,NaN
16927,2020-11-07,73,55.0,34.2,46.0,08:05:00,18:15:00,0.446,0.355,0.662,...,Mephitis,Striped Skunk,Omnivore,1,Bushnell,Agressor,No,None,3,NaN
16928,2020-11-07,73,55.0,34.2,46.0,08:05:00,18:15:00,0.446,0.355,0.662,...,Mephitis,Striped Skunk,Omnivore,1,Bushnell,Agressor,No,None,3,NaN
16929,2020-11-07,73,55.0,34.2,46.0,08:05:00,18:15:00,0.446,0.355,0.662,...,Lotor,Northern Raccoon,Omnivore,1,Bushnell,Agressor,No,None,3,NaN
16930,2020-11-07,73,55.0,34.2,46.0,08:05:00,18:15:00,0.446,0.355,0.662,...,Mephitis,Striped Skunk,Omnivore,1,Bushnell,Agressor,No,None,3,NaN

In [6]:
## Group the data by the 'Station' column **ran this code for each year
#grouped_data = human_wildlife_2020.groupby('Station')

# Create separate graphs for each station
#for station, station_data in grouped_data:
#    plt.figure()  # Create a new figure for each station
#    plt.plot(station_data['Date'], station_data['Common.Name'], marker='o')
#    plt.xlabel('Date')
#    plt.ylabel('Common.Name')
#    plt.title(f'Animals Sighted at Station {station}')
#    plt.xticks(rotation=45)
#    plt.tight_layout()
    
#    # Export the plot to an image file (e.g., PNG)
#    file_name = f'station_{station}_plot.png'
#    plt.savefig(file_name)

#    # Close the current figure to free up resources
#    plt.close()