In [1]:
# Dependencies
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

#Read in weather data CSV file and drop unnecessary columns
wildlife_df = pd.read_csv("Resources/WildlifeFinal.csv")
wildlife_df = wildlife_df.drop("Unnamed: 0.2", axis='columns')
wildlife_df = wildlife_df.drop("Unnamed: 0.1", axis='columns')
wildlife_df = wildlife_df.drop("Unnamed: 0", axis='columns')
# formatting date 
#pd.to_datetime(wildlife_df["Date"])
wildlife_df['Date'] = pd.to_datetime(wildlife_df['Date'])
wildlife_df.head() 
#view data type of each column in DataFrame
#print(wildlife_df.dtypes)

,Date,Weathercode,Max Temperature,Min Temperature,Mean Temperature,Sunrise,Sunset,Total Precipitation,Total Rain,Total Snow,Description
0,2018-05-06,2,69.9,40.4,56.0,06:19:00,20:27:00,0.000,0.000,0.0,Partly Cloudy
1,2018-05-07,2,66.1,42.9,55.5,06:17:00,20:29:00,0.000,0.000,0.0,Partly Cloudy
2,2018-05-08,0,65.4,40.6,53.8,06:16:00,20:30:00,0.000,0.000,0.0,Sunny
3,2018-05-09,53,69.7,43.1,56.5,06:15:00,20:31:00,0.055,0.055,0.0,Drizzle
4,2018-05-10,61,60.5,43.3,53.4,06:14:00,20:32:00,0.083,0.083,0.0,Light Rain

In [2]:
#Read wildlife data csv file
dataset_df = pd.read_csv("Resources/Full-Dataset-(2018-2020).csv")
dataset_df = dataset_df.rename(columns={'Photo.Date': 'Date'})
dataset_df['Date'] = pd.to_datetime(dataset_df['Date'])
dataset_df.head()
#print(dataset_df.dtypes)

,General.Project,Contact.Person.s.Last.Name,Station,Wild.Urban,Country,Timezone,Longitude,Latitude,General.Sampling.Period.Name,Date,...,Species,Common.Name,Species.Diet,Number.of.Animals,Camera.Make,Camera.Model,Flash..Yes.or.No.,Bait.Used,Photos.per.trigger,Description
0,Wasatch Wildlife Watch (UWIN Salt Lake City/Lo...,Green,d47256,Wild,USA,America/Denver,-111.70713,40.80159,Wasatch Mountains (May - October 2018),2018-05-06,...,Sapiens,Human non-staff,Omnivore,1,Bushnell,Agressor,No,None,3,NaN
1,Wasatch Wildlife Watch (UWIN Salt Lake City/Lo...,Green,d47256,Wild,USA,America/Denver,-111.70713,40.80159,Wasatch Mountains (May - October 2018),2018-05-06,...,Sapiens,Human non-staff,Omnivore,2,Bushnell,Agressor,No,None,3,NaN
2,Wasatch Wildlife Watch (UWIN Salt Lake City/Lo...,Green,d47256,Wild,USA,America/Denver,-111.70713,40.80159,Wasatch Mountains (May - October 2018),2018-05-06,...,Sapiens,Human non-staff,Omnivore,2,Bushnell,Agressor,No,None,3,NaN
3,Wasatch Wildlife Watch (UWIN Salt Lake City/Lo...,Green,d47256,Wild,USA,America/Denver,-111.70713,40.80159,Wasatch Mountains (May - October 2018),2018-05-06,...,Lupus Familiaris,Domestic Dog,Carnivore,1,Bushnell,Agressor,No,None,3,NaN
4,Wasatch Wildlife Watch (UWIN Salt Lake City/Lo...,Green,d47256,Wild,USA,America/Denver,-111.70713,40.80159,Wasatch Mountains (May - October 2018),2018-05-06,...,Sapiens,Human non-staff,Omnivore,2,Bushnell,Agressor,No,None,3,NaN

In [6]:
#Merge DataFrames: Outer Join
wildlife_dfm = pd.merge(wildlife_df, dataset_df, on="Date", how="left")
wildlife_dfm

,Date,Weathercode,Max Temperature,Min Temperature,Mean Temperature,Sunrise,Sunset,Total Precipitation,Total Rain,Total Snow,...,Species,Common.Name,Species.Diet,Number.of.Animals,Camera.Make,Camera.Model,Flash..Yes.or.No.,Bait.Used,Photos.per.trigger,Description_y
0,2018-05-06,2,69.9,40.4,56.0,06:19:00,20:27:00,0.000,0.000,0.000,...,Sapiens,Human non-staff,Omnivore,1,Bushnell,Agressor,No,None,3,NaN
1,2018-05-06,2,69.9,40.4,56.0,06:19:00,20:27:00,0.000,0.000,0.000,...,Sapiens,Human non-staff,Omnivore,2,Bushnell,Agressor,No,None,3,NaN
2,2018-05-06,2,69.9,40.4,56.0,06:19:00,20:27:00,0.000,0.000,0.000,...,Sapiens,Human non-staff,Omnivore,2,Bushnell,Agressor,No,None,3,NaN
3,2018-05-06,2,69.9,40.4,56.0,06:19:00,20:27:00,0.000,0.000,0.000,...,Lupus Familiaris,Domestic Dog,Carnivore,1,Bushnell,Agressor,No,None,3,NaN
4,2018-05-06,2,69.9,40.4,56.0,06:19:00,20:27:00,0.000,0.000,0.000,...,Sapiens,Human non-staff,Omnivore,2,Bushnell,Agressor,No,None,3,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89934,2020-11-07,73,55.0,34.2,46.0,08:05:00,18:15:00,0.446,0.355,0.662,...,Mephitis,Striped Skunk,Omnivore,1,Bushnell,Agressor,No,None,3,NaN
89935,2020-11-07,73,55.0,34.2,46.0,08:05:00,18:15:00,0.446,0.355,0.662,...,Catus,Domestic Cat,Carnivore,1,Bushnell,Agressor,No,None,3,NaN
89936,2020-11-07,73,55.0,34.2,46.0,08:05:00,18:15:00,0.446,0.355,0.662,...,Catus,Domestic Cat,Carnivore,1,Bushnell,Agressor,No,None,3,NaN
89937,2020-11-07,73,55.0,34.2,46.0,08:05:00,18:15:00,0.446,0.355,0.662,...,Lotor,Northern Raccoon,Omnivore,1,Bushnell,Agressor,No,None,3,NaN
89938,2020-11-07,73,55.0,34.2,46.0,08:05:00,18:15:00,0.446,0.355,0.662,...,Mephitis,Striped Skunk,Omnivore,1,Bushnell,Agressor,No,None,3,NaN

In [7]:
wildlife_dfm.to_csv("Resources/wildlife_dfm.csv")